* {
	font-family: Arial;
	font-size: 10pt;
	color: #222222;
}

a {
	text-decoration: none;
	color: blue;
}

.row a {
	font-size: 8pt;
}
.row {
	clear: both;
	width: 600px;
	margin: 5px;
	overflow-y: auto;
}
.row .description {
	clear: both;
	margin-left: 250px;
	font-size: 8pt;
}

.info {
	color: #666666;
}
.row label.blank-space{
	width: 22px;
}
.row label {
	width: 155px;
	
}
button{
	border: none;
    color: white;
    height: 20px;
    padding-top: 3px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}
.btn-add-new-row{
	background-color: #4CAF50; /* Green */
    
}
.btn-delete-row{
	background-color: #f44336; /* Green */
	padding-top: 0px;
}
.row .checkbox{
	margin-left: 40px;
	margin-right: 60px;	
}
.row label, .row input , .row button{
	float: left;
	margin: 0 0 0 5px;
}

.footer {
	color: #666666;
	font-style: italic;
}

button {
	background-color: #B4CCED;
}